.feynman {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 890px;
  background: #f2f2f2 url('../../images/feynman.png') 0 100% no-repeat;
  padding-top: 100px;
  box-sizing: border-box;
}
