doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="./vendor/vendor.css")
    link(rel="stylesheet" href="./pages/index.css")
    title Научиться учиться

  body
    .page
      header.header
        a.logo(href="/")
          img(src="./blocks/logo/logo-dark.svg" alt="Логотип Яндекс Практикум" width="228" height="32")
        h1.header__title Научиться учиться
        h2.header__subtitle
          | Какие современные и эффективные подходы к обучению вы можете использовать в своей жизни? 
          a.header__link(href="#") Узнать →
        .header__square-pic
        img.header__main-illustration(src="./blocks/header/__main-illustration/header__main-illustration.png" alt="Иллюстрация" width="765" height="608")

      main.content
        section.description

        section.techniques

        section.digits

        section.kaufman

        section.resources

      footer.footer
        a.logo(href="/")
          img(src="./blocks/logo/logo-light.svg" alt="Логотип Яндекс Практикум" width="228" height="32")

